<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Move this into the connection strings instead -->
    <add key="RedisHostname" value="localhost" />
    <add key="RedisPort" value="6379" />
    <add key="RedisDatabaseIndex" value="1" />
    <add key="RabbitMQHostname" value="localhost" />
    <add key="RabbitMQPort" value="5672" />
    <add key="MongoDbHostname" value="localhost" />
    <add key="MongoDbPort" value="27017" />
    <add key="MongoDbDatabase" value="Framework_Test" />
    <add key="AppServiceBusName" value="Framework_Test" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>